h1 {
  font-family: Arial;
  font-weight: lighter;
}

h2{
  color:#B43448;
  font-family: Courier;
  font-weight: bolder;
  font-size: 18px;
}

.inlineblock1 {
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  background-color: #E8F2F3;
  border: 2px solid #E5F0EC;
  border-radius: 5px;
  padding-left: 20px;
  vertical-align: top;
  padding-bottom: 25px;
}

.inlineblock2 {
  display: inline-block;
  width: 225px;
  margin-left: 5px;
  background-color: #E8F2F3;
  border: 2px solid #E5F0EC;
  border-radius: 5px;
  padding-left: 20px;
  vertical-align: top;
  height: 325px
}

input {
  padding: 5px;
  text-align: right;
  width: 50px; 
  font-family: Georgia;
}

label {
  width: 120px;
  height: 40px;
  clear: left;
  text-align: left;
}

input, label {
float:left;
}

.lowerbounds {
  padding-left: 20px;
}

.grades {
    padding-left: 20px;
    display:inline-block;
    height: 23px;
    width:30px;
}
.graph {
    display: inline-block;
    width:0px;
    height:9px;
    border: 1px solid black;
    background: lightblue;
    transition: width 1.5s;
}

.graphNum
{
    display: inline-block;
    width: 20px;
    text-align: right;
}
